<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %>
    <title>Add Note</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }

      header {
        width: 103%;
        position: fixed;
        top: -10px;
        padding: 10px 20px;
        text-align: center;
        font-size: 18px;
      }

      .container {
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 30px;
        width: 90%;
        max-width: 600px;
        margin-top: 80px;
      }

      .hd1 {
        text-align: center;
        color: #333333;
        margin-bottom: 20px;
      }

      .hd3 {
        color: #555555;
        margin-bottom: 10px;
        text-align: left;
      }

      input,
      textarea {
        width: 100%;
        padding: 12px;
        margin-bottom: 20px;
        border-radius: 5px;
        border: 1px solid #ddd;
        font-size: 14px;
        outline: none;
        transition: border 0.3s ease;
      }

      input:focus,
      textarea:focus {
        border-color: #4caf50;
      }

      textarea {
        resize: none;
      }

      button {
        background-color: red;
        color: white;
        border: none;
        padding: 12px 20px;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
        font-size: 16px;
        transition: background-color 0.3s ease, transform 0.2s ease;
      }

      button:hover {
        background-color: #45a049;
        transform: scale(1.02);
      }

      button:active {
        transform: scale(0.98);
      }
      .dark-mode .hd1 {
        color: white;
      }

      .dark-mode .hd3 {
        color: white;
      }
    </style>
  </head>
  <body>
    <header>Add Note Application</header>
    <%- include("./partials/navbar") %>

    <div class="container">
      <h1 class="hd1">Add Note</h1>
      <h3 class="hd3">Title:</h3>
      <input type="text" id="title" placeholder="Enter note title" required />
      <h3 class="hd3">Content:</h3>
      <textarea
        rows="10"
        id="content"
        placeholder="Enter note content"
      ></textarea>
      <button id="btn">Add</button>
    </div>
    <script>
      const btn = document.querySelector("#btn");

      btn.addEventListener("click", async () => {
        try {
          const title = document.querySelector("#title").value.trim();
          const content = document.querySelector("#content").value.trim();

          if(!title || !content) {
            alert('All fields are required');
            return;
          }

          const response = await fetch("/notes/add-note", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ title, content }),
          });

          const jsonResponse = await response.json();

          if (response.ok) {
            document.querySelector("#title").value = "";
            document.querySelector("#content").value = "";
            alert(jsonResponse.msg);
          } else {
            alert(jsonResponse.err);
          }
        } catch (err) {
          console.error("Error occured", err);
        }
      });
    </script>

    <%- include("./partials/scripts") %>
  </body>
</html>
